.header {
    padding: 20px 0;
    background-color: var(--blue-background);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    position: relative;
    display: inline-block;
}

.inputSearch {
    position: relative;
    padding: 6px 24px 6px 14px;
    border-radius: 6px;
    font-family: inherit;
    width: 100%;
}

.searchButton {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) { 
    .inputSearch {
        padding: 8px 40px 8px 16px;
    }
}

