.listPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 14px;
}

.listItemPhoto {
    display: flex;
    flex-direction: column;
    gap: 6px;
}